.lock-waf_win32_build
.waf*
build
waf3-*
ROMasmdump.txt
minitermasmdump.txt
.lock-waf_linux_build
*.elf
*.coe
*.o
nekoichi/samples/*.txt
nekoichi/ROMs/*.txt
nekoni/samples/*.txt
nekoni/ROMs/*.txt
nekosan/samples/*.txt
nekosan/ROMs/*.txt
nekoyon/samples/*.txt
nekoyon/ROMs/*.txt
doom/src/riscv/doom-riscv.txt
