.lock-*
.waf*
build
waf3-*
ROMasmdump.txt
minitermasmdump.txt
.lock-waf_linux_build
*.elf
*.coe
*.o
quake/**
nekoichi/samples/*.txt
nekoichi/ROMs/*.txt
e32e/samples/*.txt
doom/src/riscv/doom-riscv.txt
FreeRTOS/**
python/**
fivepipe/samples/*.txt
